.pc
LICENSE
Makefile
Makefile.in
Makefile.vc
Makefile.xcode
NEWS
aclocal.m4
autogen.sh
build
config.guess
config.guess.dh-orig
config.log
config.status
config.sub
config.sub.dh-orig
configure
configure.ac
doc
install-sh
librets-build-cygwin.sh
librets-build.sh
librets-config
librets-config-inplace
librets-config-inplace.in
librets-config.in
project
debian/librets/
debian/librets-dev.debhelper.log
debian/librets1.debhelper.log
