#!/usr/bin/make -f
# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dh $@ --with autoreconf --with python3

override_dh_auto_configure:
	dh_auto_configure -- --enable-shared_dependencies --disable-ruby

override_dh_install:
	dh_install
	#rm -rf debian/librets-dev/usr/lib/python*
	find debian/librets1 -name librets.a -exec rm -f {} \;

override_dh_auto_test:
	true
